{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Apps" %}{% endblock %} 

{% block content %}
<style>
.listblock {
	display:inline-block;
	max-width:25%;
	min-width:18em;
	margin-bottom:1.5em;
}
.list-group-item.active a, .list-group-item.active a:visited {
	color:white;
}
</style>
<a class="btn btn-default pull-right" style="margin-top:1em" href="{% url 'allmodels-chart' %}">
	{% trans "All models" %}
</a>
<h1>Models</h1>
{% for app, models in appmodels.items %}
	{% if models %}
		<div class="listblock">{{ app }}
		<ul>
			<li>
				{% if models|length > 1 %}
					<a href="{% url 'app-chart' app %}"><i class="fa fa-pie-chart fa-lg"></i></a>&nbsp;
					<a href="{% url 'app-chart' app %}?c=bar"><i class="fa fa-bar-chart fa-lg"></i></a>
					<a href="{% url 'app-chart' app %}?c=pyramid"><i class="fa fa-sort-amount-asc fa-lg"></i></a>
				{% endif %}
				{% if models|length > 1 %}
					<a href="{% url 'app-chart' app %}">{{ app }}</a>
				{% else %}
					{{ app }}
				{% endif %}
			</li>
			{% for model in models %}
				<li>
					{{ model }}
				</li>
			{% endfor %}
		</ul>
		</div>
	{% endif %}
{% endfor %}
{% endblock content %}