{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Apps" %}{% endblock %} 

{% block content %}
<style>
.listblock {
	display:inline-block;
	max-width:25%;
	min-width:18em;
	margin-bottom:1.5em;
}
.titleblock, .activeblock {
	background-color:lightgrey;
	padding:0.3em;
	text-align:center;
	font-size:125%;
}
.titleblock {
	color:black;
}
.activeblock a, .activeblock a:visited {
	color:black !important;
	font-weight:bold;
}
</style>
<span style="float:right;font-size:125%;font-weight:bolder">
	[ <a style="margin-top:1em" href="{% url 'allmodels-chart' %}">
		{% trans "Chart all models" %}
	</a> ]
</span>
<h1>Apps</h1>
{% for app, models in appmodels.items %}
	{% if models %}
		<div class="listblock">
			<ul>
				<li class="{% if models|length > 1 %}activeblock{% else %}titleblock{% endif %}">
					{% if models|length > 1 %}
						<a href="{% url 'app-chart' app %}">{{ app }}</a>
					{% else %}
						{{ app }}
					{% endif %}
				</li>
				{% for model in models %}
					<li>
						{{ model }}
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}
{% endfor %}
{% endblock content %}