{% load staticfiles i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>{% trans 'Chartmodels' %}</title>
    {% include "chartmodels/head.html" %}
</head>

<body>
<div id="app">
	<div id="site_header">
		{% include "chartmodels/header.html" %}
	</div>
	<div id="navbar">
		{% include "chartmodels/navbar.html" %}
	</div>
	<div id="content" style="text-align:center;width:100%">
		<div v-for="xapp in apps">
			<h2 v-html="xapp.appname"></h2>
			<div v-for="model in xapp.models">
				<a href="" v-html="model"></a>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	{% include "chartmodels/app.js" %}
</script>
</body>
</html>